<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <p class="navbar-text small" id="copyright">
        &copy; <%= APP_DATE %> <%= APP_NAME %> <%= APP_VERSION %>
    </p>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to contact_path do %>
            <i class="fa fa-cog fa-envelope fa-fw fa-3x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-cog fa-facebook-official fa-fw fa-3x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-cog fa-instagram fa-fw fa-3x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-cog fa-twitter-square fa-fw fa-3x"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</footer>
