<% provide(:title, USERS_PAGE_TITLE) %>
<% provide(:header, USERS_PAGE_HEADER) %>

<%= will_paginate %>

<div class="users list-group">
  <% @users.each do |user| %>
    <%= link_to user_path(user), { class: "list-group-item" } do %>
      <%= gravatar_for(user, size: 50) %>
      <span><%= user.name %></span>
      <% if user.admin? %>
        <span class="badge">ADMIN</span>
      <% else %>
        <span class="badge">CREW</span>
      <% end %>
    <% end %>
    <% if current_user.admin? && !current_user?(user) %>
      <div class="list-actions">
        <%= link_to "Delete", user_path(user), class: "list-actions-danger",
                                               method: :delete,
                                               data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  <% end %>
</div>

<%= will_paginate %>
