<li class="list-group-item" id="order-<%= order.id %>">
  <% if order.served? %>
    <span class="label label-success">SERVED</span>
  <% else %>
    <span class="label label-warning">PENDING</span>
  <% end %>
  <br>
  <span class="name"><%= order.name %></span><br>
  <span class="total"><%= order.price %>, <%= order.quantity %></span><br>
  <span class="timestamp">
    Ordered <%= time_ago_in_words(order.created_at, include_seconds: true) %> ago
  </span>
</li>
