<div class="panel panel-default" id="table-details">
  <span>MAX: </span>
  <span class="badge"><%= table.max_persons %></span>
  <span>NOW: </span>
  <span class="badge"><%= table.num_persons %></span>
  <% if table.occupied? %>
    <span class="label label-warning">OCCUPIED</span>
    <br>
    <div>
      SERVER: <%= link_to table.server.name, user_path(table.server) %>
    </div>
    <hr>
    <%= form_for(table.server.customers.find_by(table_id: table.id),
                 html: { method: :delete }) do |f| %>
      <%= f.submit "Clear", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <span class="label label-success">FREE</span>
    <hr>
    <%= form_for(current_user.customers.build) do |f| %>
      <div><%= hidden_field_tag :table_id, table.id %></div>
      <%= f.submit "Occupy", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
